@import url(fonts.css);
body {
  font-family: "AvenirNextLTW01-Regular";
  color: #282828;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0;
  padding: 0; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "AvenirNextLTW01-Demi";
    max-width: 600px; }
  body h1 {
    font-size: 2em; }
  body h2 {
    font-size: 1.5em;
    line-height: 1.2em; }
  body h3 {
    font-size: 1.17em; }
  body h4 {
    font-size: 1.12em; }
  body h5 {
    font-size: .83em; }
  body h6 {
    font-size: .75em; }
  body a:link, body a:visited {
    color: #00729a; }
  body a:hover, body a:active {
    color: #00394e; }
  body .wrap {
    max-width: 800px;
    margin: 0 auto; }
  body p, body li {
    max-width: 600px; }
  body ul {
    padding-top: 0; }
  body div.logo img {
    width: 34px;
    height: 34px;
    vertical-align: text-bottom;
    margin-bottom: -2px; }
  body div.logo span:first-of-type {
    color: #118156;
    font-family: "AvenirNextLTW01-Demi"; }
  body div.logo span:nth-of-type(2) {
    font-size: 14px;
    margin-left: 0.4rem; }
  body header {
    padding: 2rem 0; }
  body section {
    padding: 2rem 0; }
    body section.cta a {
      background: #118156;
      color: #FFFFFF;
      padding: 1.2rem 2rem;
      text-decoration: none;
      border-radius: 0.2rem;
      cursor: pointer; }
      body section.cta a img {
        width: 24px;
        vertical-align: text-top;
        margin: 1px 0.4rem 0 0; }
      body section.cta a:hover {
        background: #149865; }
  body footer {
    border-top: 1px solid #f3f3f3;
    margin-top: 4rem;
    padding: 2rem 0 6rem 0; }
    body footer img {
      width: 28px;
      vertical-align: text-top;
      margin-right: 1rem; }
