---
title: File shared with you
---
<header>
  <div class="wrap">
    <div class="logo">
      <%= image_tag 'atbash.svg' %>
      <span>Atbash</span>
      <span>a Co-op project</span>
    </div>
  </div>
</header>

<section>
  <div class="wrap">
    <h2>A confidential file has been shared with you<h2>
  </div>
</section>

<section class="cta">
  <div class="wrap">
    <a href="#" id="download-button">Download file</a>
  </div>
</section>

<section>
  <div class="wrap">
  <p>This file contains personal information about the person who shared it with you.</p>
  <ul>
    <li>If you need to keep a copy of this document, save it in a safe place.</li>
    <li>If you don’t need a copy, delete it as soon as possible.</li>
  </ul>
  </div>
</section>

<footer>
  <div class="wrap">
    <%= image_tag 'coop.svg' %><span>Atbash is a Co-op project</span>
  </div>
</footer>
