---
title: File shared with you
---

<section>
  <div class="wrap">
    <h2>A file has been shared with you in confidence</h2>
  </div>
</section>

<section class="cta">
  <div class="wrap">
    <a href="#" id="download-button">Download file</a>
  </div>
</section>

<footer>
  <div class="wrap">
    <%= image_tag 'coop.svg' %><span>Atbash is a Co-op project</span>
  </div>
</footer>
