---
title: Atbash
---

<header>
  <div class="wrap">
    <div class="logo">
      <span>Atbash</span>
      <span>a Co-op project</span>
    </div>
  </div>
</header>

<section>
  <div class="wrap">
    <h1>Atbash file encryptor</h1>
    <h2>Send sensitive documents by email <br>with confidence</h2>
  </div>  
</section>

<section class="cta">
  <div class="wrap">
    <a href="#"><%= image_tag 'chrome.svg' %> Add to Chrome</a>
  </div>
</section>

<section>
  <div class="wrap">
    <ul>
      <li>
        <span>
          Send a link to an encrypted file instead of an attachment
        </span>
      </li>
      <li>
        <span>
          Get unique link so only the recipient can open your file
        </span>
      </li>
      <li>
        <span>
          Choose when the link expires: 5 minutes later or midnight
        </span>
      </li>
    </ul>
  </div>  
</section>

<section>
  <div class="wrap">
    <h3>Take control of your privacy</h3>
    If you've ever:
    <ul>
      <li>applied for a job</li>
      <li>bought a house</li>
      <li>rented a flat</li>
      <li>had to prove your ID</li>
      <li>taken out a mortgage</li>
    </ul>
    <p>
      you’ll have been told to send an email with a scan of a passport, driver’s licence or birth certificate. But what happens to that attachment after you’ve sent it? How much did you trust the person or company you sent it to? And have you ever sent an email like this anyway - despite your concerns - so as not to slow things down?
    </p>
  </div>  
</section>

<section>
  <div class="wrap">
    <h3>A simple way to safely send</h3>
    We made Atbash for people:
    <ul>
      <li>who care about their privacy</li>
      <li>who deal with companies that might not care about keeping personal data safe</li>
      <li>who have an important task to do, like getting a new job or buying a house</li>
    </ul>
  </div>  
</section>

<section>
  <div class="wrap">
    <h3>Why has the Co-op made a browser extension?</h3>
    <p>
      In 1844 a group of people set up what was to become <a href="https://www.co-operative.coop/about-us/history" target="_blank">the Co-op</a> in response to the problems in their community. Back then it was about getting affordable food to people in poverty. We still live in a world where people don’t have enough to eat, but now we face new problems as well. 173 years later, <a href="https://www.co-operative.coop/about-us/values" target="_blank">we’re still helping people help themselves to create a fairer world</a>.
    </p>
    <p>
      We believe people should understand and have control over the technology they use. All too often it feels as though we have no choice but to give up control. We think that just because you need a job or somewhere to live, you shouldn’t have to compromise your privacy and security.  
    </p>
  </div>  
</section>

<footer>
  <div class="wrap">
    <%= image_tag 'coop.svg' %><span>Atbash is a Co-op project</span>
  </div>
</footer>
